exercises/mary/eclipse-projects/bluemixnodered.json
[{"id":"f5c4e19a.9ea79","type":"tab","label":"Flow 1"},{"id":"15de3862.717cf8","type":"ibmiot out","z":"f5c4e19a.9ea79","authentication":"apiKey","apiKey":"c5ded2df.6d3e3","outputType":"cmd","deviceId":"BBB1","deviceType":"Beaglebone","eventCommandType":"ledon","format":"json","data":"0","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":570,"wires":[]},{"id":"3c1266cc.9daf0a","type":"inject","z":"f5c4e19a.9ea79","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":265,"y":483,"wires":[["15de3862.717cf8","fbbec4e5.850368"]]},{"id":"fbbec4e5.850368","type":"debug","z":"f5c4e19a.9ea79","name":"outdebug","active":false,"console":"false","complete":"payload","x":541,"y":632,"wires":[]},{"id":"f6c91c3b.fa2ae","type":"inject","z":"f5c4e19a.9ea79","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":266,"y":588,"wires":[["fbbec4e5.850368","15de3862.717cf8"]]},{"id":"47d116f8.6c04c8","type":"e-mail in","z":"f5c4e19a.9ea79","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","repeat":"15","x":244,"y":347,"wires":[["395071e7.de713e","1564b34c.73ad3d"]]},{"id":"395071e7.de713e","type":"function","z":"f5c4e19a.9ea79","name":"email on/off?","func":"if (msg.topic==\"turn led on\")\nmsg.payload = 1;\nelse if(msg.topic ==\"led off\")\nmsg.payload =0;\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":351,"wires":[["15de3862.717cf8","45253206.f0d31c"]]},{"id":"1564b34c.73ad3d","type":"debug","z":"f5c4e19a.9ea79","name":"email value","active":true,"console":"false","complete":"payload","x":453,"y":283,"wires":[]},{"id":"45253206.f0d31c","type":"debug","z":"f5c4e19a.9ea79","name":"sent to bbb","active":true,"console":"false","complete":"payload","x":796,"y":332,"wires":[]},{"id":"c5ded2df.6d3e3","type":"ibmiot","z":"","name":"nodered","keepalive":"60","cleansession":true,"appId":"","shared":false}]