exercises/mary/eclipse-projects/NoderedBBB.json
[{"id":"a20677b7.1baa4","type":"bbb-discrete-out","z":"bd1eea0a.3f3d28","pin":"P9_26","inverting":false,"toggle":false,"defaultState":"0","name":"","x":241.5,"y":198,"wires":[["bbbb40d2.973498","1a7f2912.c7a7bf"]]},{"id":"722eeaee.a4a8d4","type":"wiotp in","z":"bd1eea0a.3f3d28","authType":"d","deviceKey":"4072ec0a.a049f4","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"","x":116.5,"y":337,"wires":[["a20677b7.1baa4","eb6c7ef9.c1865"]]},{"id":"eb6c7ef9.c1865","type":"debug","z":"bd1eea0a.3f3d28","name":"input from wiot","active":true,"console":"true","complete":"payload","x":380.5,"y":336.5,"wires":[]},{"id":"1ddadfb6.2393b8","type":"e-mail","z":"bd1eea0a.3f3d28","server":"smtp.gmail.com","port":"465","name":"mary.cowan@itb.ie","dname":"gmail","x":687.5,"y":95,"wires":[]},{"id":"bbbb40d2.973498","type":"function","z":"bd1eea0a.3f3d28","name":"message to me","func":"if (msg.payload == 1)\nmsg.payload=\"From BBB:The Led has been turned on, send email subject line 'led off'to turn off\";\nelse \nmsg.payload =\"From BBB: Led switched off, send 'turn led on' to turn back on\";\nnode.log(\"Log\");\nreturn msg;","outputs":1,"noerr":0,"x":479.5,"y":94.5,"wires":[["1ddadfb6.2393b8"]]},{"id":"1b58ad0c.117503","type":"e-mail","z":"bd1eea0a.3f3d28","server":"smtp.gmail.com","port":"465","name":"ben.toland@itb.ie","dname":"","x":730.5,"y":220,"wires":[]},{"id":"1a7f2912.c7a7bf","type":"function","z":"bd1eea0a.3f3d28","name":"message to ben","func":"if (msg.payload == 1)\nmsg.payload=\"From BBB:Hey Ben, The Led has been turned on\";\nelse \nmsg.payload =\"From BBB: Led switched off,did you get this?\";\nnode.log(\"Log\");\nreturn msg;\n","outputs":1,"noerr":0,"x":509.5,"y":220.5,"wires":[["1b58ad0c.117503"]]},{"id":"4072ec0a.a049f4","type":"wiotp-credentials","z":"bd1eea0a.3f3d28","name":"bb","org":"jr5erg","devType":"Beaglebone","devId":"BBB1"}]