CA2BeagleBone.json
[{
"id":"b9adc68f.57a398",
"type":"wiotp in",
"z":"5ae9b24.64f0b4c",
"authType":"d",
"deviceKey":"3123c8e2.cbd808",
"deviceType":"",
"deviceId":"",
"command":"+",
"commandType":"g",
"name":"",
"x":1704.5,
"y":1102,
"wires":[["229ebee8.10ac12","1bf16ef1.5f6371"]]
},
{"id":"c6ca8880.9d3808",
"type":"bbb-discrete-out",
"z":"5ae9b24.64f0b4c",
"pin":"P9_22",
"inverting":false,"toggle":false,"defaultState":"0",
"name":"",
"x":2450.75,
"y":1056,
"wires":[[]]},
{"id":"229ebee8.10ac12",
"type":"debug",
"z":"5ae9b24.64f0b4c",
"name":"Input from watson",
"active":true,"console":"false",
"complete":"payload",
"x":2427.250030517578,
"y":1245.0000190734863,
"wires":[]},
{
"id":"1bf16ef1.5f6371",
"type":"switch",
"z":"5ae9b24.64f0b4c",
"name":"",
"property":"payload",
"propertyType":"msg",
"rules":[{"t":"cont","v":"ON","vt":"str"},
{"t":"cont","v":"on","vt":"str"},
{"t":"cont","v":"On","vt":"str"},
{"t":"cont","v":"oN","vt":"str"},
{"t":"cont","v":"off","vt":"str"},
{"t":"cont","v":"OFF","vt":"str"},
{"t":"cont","v":"Off","vt":"str"},
{"t":"else"}],
"checkall":"true",
"outputs":8,"x":1872,
"y":1102,
"wires":[["6fa5c3e9.4db77c"],
["6fa5c3e9.4db77c"],
["6fa5c3e9.4db77c"],
["6fa5c3e9.4db77c"],
["8b396457.5ef878"],
["8b396457.5ef878"],
["8b396457.5ef878"],
["b5b56c64.43f85"]]},
{
"id":"6fa5c3e9.4db77c",
"type":"change",
"z":"5ae9b24.64f0b4c",
"name":"on",
"rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],
"action":"","property":"",
"from":"","to":"",
"reg":false,
"x":2033,
"y":1062,"wires":[["c6ca8880.9d3808","2511f016.0699c","1bcf40aa.bdf90f"]]},
{"id":"8b396457.5ef878",
"type":"change",
"z":"5ae9b24.64f0b4c",
"name":"off",
"rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],
"action":"",
"property":"",
"from":"",
"to":"","reg":false,
"x":2032,"y":1121,
"wires":[["c6ca8880.9d3808","2511f016.0699c","98372f52.eb0bb"]]},
{"id":"2511f016.0699c",
"type":"debug","z":"5ae9b24.64f0b4c","name":"output",
"active":true,"console":"false","complete":"payload",
"x":2390,"y":1120,"wires":[]},{"id":"b5b56c64.43f85",
"type":"change","z":"5ae9b24.64f0b4c","name":"Invalid Argument","rules":[{"t":"set","p":"payload","pt":"msg",
"to":"Please send a valid argument to the node. EG text containing the words \"On\" or \"Off\"","tot":"str"}],
"action":"","property":"","from":"","to":"","reg":false,"x":2058,"y":1192,"wires":[["8bd453f8.81af2","c8ac2ee7.4379d"]]},
{"id":"8bd453f8.81af2","type":"debug","z":"5ae9b24.64f0b4c",
"name":"","active":true,"console":"false","complete":"false",
"x":2409,"y":1186,"wires":[]},{"id":"c8ac2ee7.4379d","type":"e-mail",
"z":"5ae9b24.64f0b4c","server":"smtp.gmail.com","port":"465","name":"benjamin.toland@itb.ie",
"dname":"email output","x":2448.7776260375977,"y":890.4167003631592,"wires":[]},
{"id":"1bcf40aa.bdf90f","type":"change",
"z":"5ae9b24.64f0b4c","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"The LED has been turned on via email.","tot":"str"}],
"action":"","property":"","from":"","to":"","reg":false,
"x":2196.333393096924,"y":891.0000095367432,"wires":[["c8ac2ee7.4379d"]]},
{"id":"98372f52.eb0bb","type":"change","z":"5ae9b24.64f0b4c","name":"OFF",
"rules":[{"t":"set","p":"payload","pt":"msg","to":"The LED has been turned off via email.","tot":"str"}],
"action":"","property":"","from":"","to":"","reg":false,"x":2194.0000381469727,"y":989.1111164093018,"wires":[["c8ac2ee7.4379d"]]},
{"id":"3123c8e2.cbd808","type":"wiotp-credentials","z":"5ae9b24.64f0b4c","name":"","org":"m8gfsc","devType":"beaglebone",
"devId":"BBB1"
}]