exercises/paul/Mini-Project2 - NodeRED Bluemix/MP2BeagleBoneBlack.json
[{"id":"cce25918.48a838","type":"wiotp out","z":"7127a252.35d68c","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"774f0c20.3497c4","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":312.50001525878906,"y":107.19999694824219,"wires":[]},{"id":"339c13d7.04806c","type":"inject","z":"7127a252.35d68c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118.50001525878906,"y":78.80000305175781,"wires":[["cce25918.48a838","2da1d1.27bc7e3"]]},{"id":"2da1d1.27bc7e3","type":"debug","z":"7127a252.35d68c","name":"","active":true,"console":"false","complete":"payload","x":331.50001525878906,"y":49.98750305175781,"wires":[]},{"id":"2be97d05.709e12","type":"bbb-discrete-out","z":"7127a252.35d68c","pin":"P9_22","inverting":false,"toggle":false,"defaultState":"0","name":"","x":613.5000152587891,"y":394.8000030517578,"wires":[["be63e8fb.1d2238","4c0803f8.5cdf9c"]]},{"id":"7024673d.ece728","type":"wiotp in","z":"7127a252.35d68c","authType":"d","deviceKey":"774f0c20.3497c4","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"","x":82.50001525878906,"y":400.20001220703125,"wires":[["14c87c60.2338e4","658ad7c8.2234a8"]]},{"id":"14c87c60.2338e4","type":"debug","z":"7127a252.35d68c","name":"Input from WIOT","active":true,"console":"false","complete":"payload","x":260.5000305175781,"y":294.77784633636475,"wires":[]},{"id":"658ad7c8.2234a8","type":"switch","z":"7127a252.35d68c","name":"BBB Input","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OFF","vt":"str"},{"t":"cont","v":"off","vt":"str"},{"t":"cont","v":"Off","vt":"str"},{"t":"cont","v":"ON","vt":"str"},{"t":"cont","v":"on","vt":"str"},{"t":"cont","v":"On","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":252,"y":401.00001525878906,"wires":[["bbb86156.1ea38"],["bbb86156.1ea38"],["bbb86156.1ea38"],["f6c320ba.68e42"],["f6c320ba.68e42"],["f6c320ba.68e42"],["3bfc8786.6de0f8"]]},{"id":"bbb86156.1ea38","type":"change","z":"7127a252.35d68c","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":399.0000762939453,"y":362.0000762939453,"wires":[["2be97d05.709e12","7a3ffc80.531ed4"]]},{"id":"f6c320ba.68e42","type":"change","z":"7127a252.35d68c","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":398.0000762939453,"y":428.0000762939453,"wires":[["2be97d05.709e12","231e4f48.1108d"]]},{"id":"7a3ffc80.531ed4","type":"debug","z":"7127a252.35d68c","name":"Change Off","active":false,"console":"false","complete":"payload","x":627.9999923706055,"y":326.77780532836914,"wires":[]},{"id":"231e4f48.1108d","type":"debug","z":"7127a252.35d68c","name":"Change On","active":false,"console":"false","complete":"payload","x":626.7777709960938,"y":460.00005531311035,"wires":[]},{"id":"f445797e.271c98","type":"e-mail","z":"7127a252.35d68c","server":"smtp.gmail.com","port":"465","name":"benjamin.toland@itb.ie","dname":"My email","x":1084.5278511047363,"y":501.4723320007324,"wires":[]},{"id":"3bfc8786.6de0f8","type":"change","z":"7127a252.35d68c","name":"Invalid Argument","rules":[{"t":"set","p":"payload","pt":"msg","to":"Valid arguments need to be in the email message body. To turn LED On use: ON, On, on. To turn LED Off use: OFF, Off, off.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":438.0000114440918,"y":497.8000602722168,"wires":[["f445797e.271c98"]]},{"id":"75ee769d.1bc2d8","type":"debug","z":"7127a252.35d68c","name":"BBB Output email","active":true,"console":"false","complete":"payload","x":1110.8611068725586,"y":395.6944980621338,"wires":[]},{"id":"be63e8fb.1d2238","type":"change","z":"7127a252.35d68c","name":"Off Email","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Email confirmation LED Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":848.0277862548828,"y":361.99451637268066,"wires":[["75ee769d.1bc2d8","f445797e.271c98"]]},{"id":"4c0803f8.5cdf9c","type":"change","z":"7127a252.35d68c","name":"On Email","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Email confirmation LED On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":849.0833282470703,"y":422.8277997970581,"wires":[["75ee769d.1bc2d8","f445797e.271c98"]]},{"id":"774f0c20.3497c4","type":"wiotp-credentials","z":"7127a252.35d68c","name":"","org":"2lt2qd","devType":"BeagleBone","devId":"BBB1"}]